html * {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  margin: 0;
}

.categories {
  display: flex;
  flex-flow: row nowrap;
  min-height: 10%;
}

.category {
  padding: 1em;
  border: 1px solid black;
  margin: 10px;
  cursor: grab;
}

.line {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 3px;
  border-bottom: 1px solid #EEE;
  font-family: monospace;
}

.good {
  background: #35BCAF;
  color: white;
}

.bad {
  background: #FF6C6A;
  color: white;
}

.views {
  display: flex;
  flex-flow: row nowrap;
  height: 90%;
}

.view {
  height: 100%;
  position: relative;
  flex: 1 1 50%;
  border: 1px solid black;
  overflow-y: scroll;
  padding-top: 1.5em;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  margin: 0;
  height: 1.5rem;
  background: black;
  color: white;
}

.lines {
  overflow-y: scroll;
  height: 100%;
}
