html * {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  margin: 0;
}

#app {
  height: 100vh;
  width: 100%;
}


.categories {
  display: flex;
  flex-flow: row nowrap;
}

Category{
  button {
    cursor: grab !important;
  }
  margin: 0.1em;
}

.line {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 3px;
  border-bottom: 1px solid #EEE;
  font-family: monospace;
}

.good {
  background: #35BCAF;
  color: white;
}

.bad {
  background: #FF6C6A;
  color: white;
}

.views {
  display: flex;
  flex-flow: row nowrap;
}

.view {
  height: 90vh;
  flex: 1 1 50%;
  overflow-y: hidden;
}

.lines {
  overflow-y: scroll;
  height: 100%;
  padding: 0;
}
