html * {
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 100%;
}

.view {
  flex: 1 0;
  border: 1px solid black;
  height: 500px;
  padding: 1em;
  overflow: scroll;

}

body {
  display: flex;
  flex-flow: row nowrap;
}

.categories {
  display: flex;
  flex-flow: column nowrap;
  padding: 1em;
}

.category {
  padding: 0.5em;
  border: 1px solid black;
  margin: 10px 0;
  cursor: grab;
}

.line {
  display: block;
  width: 100%;
  padding: 3px;
}

.good {
  background: green;
}

.bad {
  background: red;
}
