html * {
  box-sizing: border-box;
  color: white; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100vh;
  margin: 0;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #000000, #434343);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(bottom, #000000, #434343);
  background: linear-gradient(to top, #000000, #434343)
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

#app {
  height: 100vh;
  width: 100%; }

.app {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }

.main-area {
  height: 100%;
  width: 100%; }

.settings {
  -webkit-transition: width 0.3s;
          transition: width 0.3s;
  width: 0; }
  .settings.active {
    width: 400px; }

.control-bar {
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  height: 60px;
  padding: 1em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }

.category {
  cursor: -webkit-grab !important;
  cursor: grab !important;
  margin: 0.1em;
  background: none;
  color: white;
  border-radius: 50px;
  border: 1px solid white; }
  .category:hover {
    color: #337AB7;
    border-color: #337AB7; }

.line {
  display: block;
  width: 100%;
  padding: 3px;
  font-family: monospace; }

.good {
  background: #35BCAF;
  color: white; }

.bad {
  background: #FF6C6A;
  color: white; }

.views {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0;
      -ms-flex: 1 0;
          flex: 1 0;
  width: 100%;
  height: 100%; }

.layout {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.hflex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }

.vflex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.view {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0px;
      -ms-flex: 1 0 0px;
          flex: 1 0 0px;
  margin: 0.3em;
  overflow-y: scroll; }

.lines {
  overflow-y: scroll;
  height: 100%;
  padding: 0; }

.panel-heading {
  border-bottom: 1px solid black;
  height: 2.5em; }

.panel {
  background: rgba(255, 255, 255, 0.1); }

.layout-selector {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #333;
  border: 5px solid #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 5px; }
  .layout-selector div {
    background: white; }
  .layout-selector.one-wide div {
    width: 75%;
    height: 100%;
    margin: auto; }
  .layout-selector.two-wide div {
    width: 40%;
    height: 100%;
    margin: auto; }
  .layout-selector.three-wide div {
    width: 20%;
    height: 100%;
    margin: auto; }
  .layout-selector.two-high {
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; }
    .layout-selector.two-high div {
      width: 100%;
      height: 40%;
      margin: auto; }
  .layout-selector.combo {
    position: relative; }
    .layout-selector.combo div:nth-of-type(1) {
      height: 40%;
      width: 40%;
      position: absolute;
      top: 0px;
      left: 0px; }
    .layout-selector.combo div:nth-of-type(2) {
      height: 40%;
      width: 40%;
      position: absolute;
      top: 50%;
      left: 0px; }
    .layout-selector.combo div:nth-of-type(3) {
      height: 91%;
      width: 40%;
      position: absolute;
      top: 0px;
      left: 50%; }

/*# sourceMappingURL=style.css.map */