html * {
  box-sizing: border-box; }

body {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  margin: 0; }

#app {
  height: 100vh;
  width: 100%; }

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap; }

.main-area {
  height: 100%;
  width: 100%; }

.settings {
  position: relative;
  transition: width 0.3s, opacity 0.3s;
  width: 0;
  opacity: 0;
  overflow: hidden; }
  .settings.active {
    width: 400px;
    opacity: 1; }

.control-bar {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 1em;
  justify-content: space-between;
  padding-right: 30px; }

.controls {
  display: flex;
  flex-flow: row nowrap; }

.category {
  cursor: grab !important;
  margin: 0.1em;
  background: none;
  color: black;
  border-radius: 50px;
  border: 1px solid black; }
  .category:hover {
    color: #337AB7;
    border-color: #337AB7;
    background: #d9edf7; }
  .category .badge {
    margin-left: 5px; }

.line {
  display: block;
  width: 100%;
  padding: 3px;
  font-family: monospace;
  word-break: break-all;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.good {
  background: #35BCAF;
  color: white; }

.bad {
  background: #FF6C6A;
  color: white; }

.views {
  display: flex;
  flex: 1 0;
  width: 100%;
  height: 100%; }

.layout {
  flex: 1;
  width: 100%; }

.hflex {
  display: flex;
  flex-flow: row nowrap; }

.vflex {
  display: flex;
  flex-flow: column nowrap; }

.view {
  flex: 1 0 0px;
  margin: 0.3em;
  overflow-y: scroll; }

.lines {
  overflow-y: scroll;
  height: 100%;
  padding: 0; }

.panel-header {
  position: absolute;
  padding: 5px 15px;
  border-radius: 20px;
  color: black; }

.layout-selector {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #333;
  border: 5px solid #333;
  display: flex;
  flex-flow: row nowrap;
  margin: 5px;
  opacity: 0.8;
  transition: 0.2s opacity; }
  .layout-selector:hover {
    opacity: 1; }
  .layout-selector div {
    background: white; }
  .layout-selector.one-wide div {
    width: 75%;
    height: 100%;
    margin: auto; }
  .layout-selector.two-wide div {
    width: 40%;
    height: 100%;
    margin: auto; }
  .layout-selector.three-wide div {
    width: 20%;
    height: 100%;
    margin: auto; }
  .layout-selector.two-high {
    flex-flow: column nowrap; }
    .layout-selector.two-high div {
      width: 100%;
      height: 40%;
      margin: auto; }
  .layout-selector.combo {
    position: relative; }
    .layout-selector.combo div:nth-of-type(1) {
      height: 40%;
      width: 40%;
      position: absolute;
      top: 0px;
      left: 0px; }
    .layout-selector.combo div:nth-of-type(2) {
      height: 40%;
      width: 40%;
      position: absolute;
      top: 50%;
      left: 0px; }
    .layout-selector.combo div:nth-of-type(3) {
      height: 91%;
      width: 40%;
      position: absolute;
      top: 0px;
      left: 50%; }

.add-logs, .settings-icon {
  font-size: 3em;
  cursor: pointer;
  margin: 0 0.2em;
  opacity: 0.8;
  transition: 0.2s opacity; }
  .add-logs:hover, .settings-icon:hover {
    opacity: 1; }

.settings-icon {
  color: gray; }

.add-logs {
  color: #B98F58;
  padding-left: 1em; }

/*# sourceMappingURL=style.css.map */
